{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/img/carroussel1.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/carroussel1.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/carroussel1.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div style="margin-top: 90px;">
        {% if recipes_most_liked %}
            <h4 style="text-align: center; margin-bottom: 50px;">Les recettes les plus aimées</h4>
            <div class="grille">
                {% for recipe in recipes_most_liked %}
                    <div class="grid-item">
                        <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}"><img id="product_img" src="/upload/{{ recipe.picture }}" style="border-radius: 10px 10px 0px 0px;"/></a>
                        <p class="p">{{ recipe.name }}<br><img src="/img/nbperson.png" style="height: 15px; width: 15px; margin-bottom: 5px;"> {{ recipe.numberOfPerson }} | <img src="/img/time.png" style="height: 15px; width: 15px; margin-bottom: 5px;"> {{ recipe.preparationTime }}min | <img src="/img/level.png" style="height: 15px; width: 15px; margin-bottom: 5px;"> {{ recipe.difficulty }} | <img src="/img/heart.png" style="height: 15px; width: 15px; margin: 5px;">{{ recipe.likes }}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">Voir</a>
                            <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">Modifier</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    <div style="background-color: lightgray; height: auto; width: auto; border: solid 1px black; padding: 50px;">
        <p style="text-align: center; color: black; border: double 4px black; width: 700px; padding: 10px; background-color: white; margin-left: auto; margin-right: auto;">By Karina TEYSSERE & Brandon REYNIER | © 2022 LazyMates, Inc. <br>Nous contacter : admin@admin.fr</p>
    </div>
{% endblock %}
