{% extends 'base.html.twig' %}

{% block title %}Commentary index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}

        <h2>Tous les commentaires</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Utilisateur</th>
                    <th>Recette</th>
                    <th>Contenu</th>
                    <th>Date</th>
                    <th>actions</th>

                </tr>
            </thead>
            <tbody>
            {% for commentary in commentaries %}
                <tr>
                    <td>{{ commentary.id }}</td>
                    <td>{{ commentary.user.mail }}</td>
                    <td>{{ commentary.recipe.name }}</td>
                    <td>{{ commentary.content }}</td>
                    <td>{{ commentary.datepublicom |date("d/m/Y")}} à {{ commentary.datepublicom |date("H:i")}}</td>
                    <td>
                        <a href="{{ path('app_commentary_show', {'id': commentary.id}) }}">Voir</a>
                        <a href="{{ path('app_commentary_edit', {'id': commentary.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun commentaire trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{#        <a href="{{ path('app_commentary_new') }}">Ajouter un commentaire</a>#}
    {% else %}
        <p style="text-align: center; margin-top: 100px;">Cette URL est réservée aux administrateurs du site.</p>
    {% endif %}
{% endblock %}