{% extends 'base.html.twig' %}

{% block title %}Recipe index{% endblock %}

{% block body %}

    <div style="text-align: center; margin-top: 30px;">
        <a class="btn" href="{{ path('app_recipe_new') }}" style="color: white; background-color: green;">Créer une nouvelle recette</a>
    </div>

    {% for recipe in recipes %}
    <div class="grille">
            <div class="grid-item">
                <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}"><img id="product_img" src="/upload/{{ recipe.picture }}" style="border-radius: 10px 10px 0px 0px;"/></a>
                <p class="p">{{ recipe.name }} - <img src="/img/nbperson.png" style="height: 15px; width: 15px; margin-bottom: 5px;"> {{ recipe.numberOfPerson }} | <img src="/img/time.png" style="height: 15px; width: 15px; margin-bottom: 5px;"> {{ recipe.preparationTime }}min | <img src="/img/level.png" style="height: 15px; width: 15px; margin-bottom: 5px;"> {{ recipe.difficulty }}</p>
{#                {% if is_granted('ROLE_ADMIN') %}#}
{#                    <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">Voir</a>#}
                    <a class="btn" style="background-color: orange; color: white;" href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">Modifier</a>
{#                {% endif %}#}
            </div>
    </div>
    {% else %}
        <div style="text-align: center;">
            <p style="margin-top: 100px;">Aucune recettes :-(</p>
        </div>
    {% endfor %}

{% endblock %}
