{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}

    <div style="margin-right: 400px; margin-left: 400px; border: solid 1px black; margin-top: 100px; height: auto; margin-bottom: 100px; ">
        {% for message in app.flashes('notification') %}
                    <div class="alert alert-info alert-dismissible fade show">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
        {% endfor %}
        {% if is_granted('ROLE_USER') %}
            {% if  isIn %}
                <a href="{{ path('app_favorite_recipe_new', {id: recipe.id}) }}"><img src="/img/filled_heart.png" style="height: 25px; width: 25px; margin: 5px;"></a>{{ recipe.likes }}
            {% else %}
                <a href="{{ path('app_favorite_recipe_new', {id: recipe.id}) }}"><img src="/img/empty_heart.png" style="height: 25px; width: 25px; margin: 5px;"></a>{{ recipe.likes }}
            {% endif %}
        {% endif %}
        <h2 style="text-align: center; padding-top: 15px;">{{ recipe.name }}</h2>
        <p style="text-align: center; padding-bottom: 10px;">par {{ recipe.user.name }} le {{ recipe.datepublire |date("d/m/Y")}} à {{ recipe.datepublire |date("H:i")}}</p>
        <img id="product_img_detail" src="/upload/{{ recipe.picture }}"/>
        <div style="border-bottom: solid 1px black;">
            <p style="padding-top: 15px; text-align: center;"><img src="/img/time.png" style="height: 25px; width: 25px; margin-bottom: 5px;"> {{ recipe.preparationTime }} minute(s) | <img src="/img/nbperson.png" style="height: 25px; width: 25px; margin-bottom: 5px;"> {{ recipe.numberOfPerson }} personne(s) | <img src="/img/level.png" style="height: 25px; width: 25px; margin-bottom: 5px;"> {{ recipe.difficulty }}</p>
        </div>
        <div style="border-bottom: solid 1px black;">
            <h4 style="text-align: center; padding: 5px; border-bottom: dashed 1px black;">Ingrédients :</h4>
            <p style="text-align: left; padding: 10px;">{{ recipe.ingredients | nl2br}}</p>
        </div>
        <div style="border-bottom: solid 1px black;">
            <h4 style="text-align: center; padding: 5px; border-bottom: dashed 1px black;">Ustensiles :</h4>
            <p style="text-align: left; padding: 10px;">{{ recipe.utensils | nl2br}}</p>
        </div>
        <div>
            <h4 style="text-align: center; padding: 5px; border-bottom: dashed 1px black;">Préparation :</h4>
            <p style="text-align: left; padding: 10px;">{{ recipe.content | nl2br}}</p>
        </div>
    </div>

    <div style="margin-right: 400px; margin-left: 400px; border: solid 1px black; margin-top: 100px; height: auto; margin-bottom: 100px; ">
        <div>
            <h4 style="text-align: center; padding: 5px; border-bottom: dashed 1px black;">Partager la recette :</h4>
        </div>
        <div style="text-align: center; padding: 10px;">
            <a style="margin-right: 5px; margin-left: 5px;" href="{{ path('recipeToPdf', {id: recipe.id}) }}" target="_blank"><img src="/img/pdf_icon.png" style="height: 45px; width: 45px;"></a>

            <!-- Facebook -->
            <a style="margin-right: 5px; margin-left: 5px;" href="http://www.facebook.com/sharer.php?u={{ app.request.uri }}" target="_blank"><img src="/img/facebook_icon.png" style="height: 45px; width: 45px;"></a>

            <!-- Twitter -->
            <a style="margin-right: 5px; margin-left: 5px;" href="http://twitter.com/share?url={{ app.request.uri }}&text=Recette sur LazyCook&hashtags=cooking" target="_blank"><img src="/img/twitter_icon.png" style="height: 45px; width: 45px;"></a>

            <!-- Reddit -->
            <a style="margin-right: 5px; margin-left: 5px;" href="http://reddit.com/submit?url={{ app.request.uri }}&title=Recette sur LazyCook" target="_blank"><img src="/img/reddit_icon.png" style="height: 45px; width: 45px;"></a>

            <!-- Email -->
            <a style="margin-right: 5px; margin-left: 5px;" href="mailto:?Subject=Recette sur LazyCook&Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{ app.request.uri }}"><img src="/img/gmail_icon.png" style="height: 45px; width: 45px;"></a>
        </div>
    </div>


        <div style="margin-right: 400px; margin-left: 400px; border: solid 1px black; margin-top: 100px; height: auto; margin-bottom: 100px; ">
            <div>
                <h4 style="text-align: center; padding: 5px; border-bottom: dashed 1px black;">Commentaires :</h4>
            </div>
            {% if is_granted('ROLE_USER') %}
            <div style="text-align: center; margin-right: auto; margin-left: auto;">
                {{ form_start(form, {'action': path('app_commentary_new', {id: recipe.id}), 'method': 'POST'}) }}
                {{ form_widget(form.content) }}
                <button class="btn" style="color: white; background-color: blue; width: 98%; margin-bottom: 10px;">{{ button_label|default('Publier') }}</button>
                {{ form_end(form) }}
            </div>
            <div style="text-align: left; border-top: solid 1px black;">
                {% for commentary in commentary %}
                    <div style="padding: 15px; border-bottom: dotted 1px black;">
                        <p style="font-weight: bold;">{{ commentary.user.name }} le {{ commentary.datepublicom |date("d/m/Y")}} à {{ commentary.datepublicom |date("H:i")}}:</p>
                        <p style="font-style: italic;">"{{ commentary.content }}"</p>
                        {% if app.user.id == commentary.user.id %}
                            {{ include('commentary/_delete_form.html.twig') }}
                            <a class="btn" style="background-color: orange; color: white; width: 130px; margin-top: 5px;" href="{{ path('app_commentary_edit', {'id': commentary.id}) }}">Modifier</a>

                        {% endif %}
                    </div>

                {% endfor %}
            </div>
            {% else %}
                <p style="text-align: center;">Pour accéder aux commentaires, veuillez-vous identifier.</p>
            {% endif %}
        </div>


{#    {% if is_granted('ROLE_USER') %}#}
{#        <div>#}
{#            {% for comm in commentary %}#}
{#                <p>{{ comm.user.name }}</p>#}
{#                <p>{{ comm.content }}</p>#}
{#            {% endfor %}#}
{#        </div>#}
{#    {% else %}#}
{#        <p style="text-align: center;">Pour accéder aux commentaires, veuillez-vous identifier.</p>#}
{#    {% endif %}#}

{% if is_granted('ROLE_USER') %}

    {% if app.user.id == recipe.user.id %}
        <div style="text-align: center; margin-bottom: 50px;">
            <a class="btn" style="background-color: orange; color: white; width: 130px; margin-bottom: 5px;" href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">Modifier</a>
            {{ include('recipe/_delete_form.html.twig') }}
        </div>
    {% elseif is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">Modifier</a>
            {{ include('recipe/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endif %}


{#    {{ form_start(form, {'action': path('app_commentary_new', {id: recipe.id}), 'method': 'POST'}) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#    {{ form_end(form) }}#}

{% endblock %}
