<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the PDF</title>
</head>
<body>
<h1 style="text-align: center"><b>{{ recipe.name }}</b></h1>
<p style="text-align: center;">Par {{ recipe.user.name }} le {{ recipe.datepublire |date("d/m/Y")}} à {{ recipe.datepublire |date("H:i")}}</p>
<p style="text-align: center;">{{ recipe.preparationTime }} minutes | {{ recipe.numberOfPerson }} personne(s) |  {{ recipe.difficulty }}</p>
<br>
<h3 style="text-align: left">Ingredients :</h3>
<p style="text-align: left">{{ recipe.ingredients | nl2br}}</p>
<br>
<h3 style="text-align: left">Ustensiles :</h3>
<p style="text-align: left">{{ recipe.utensils | nl2br}}</p>
<br>
<h3 style="text-align: left">Préparation :</h3>
<p style="text-align: left">{{ recipe.content | nl2br}} </p>
<br>
<h4 style="text-align: center;">De la part de toute l'équipe LazyMates, bon appétit !</h4>
</body>
</html>