{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}

        <h2>Tous les utilisateurs</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom d'utilisateur</th>
                    <th>Adresse mail</th>
                    <th>Mot de passe</th>
{#                    <th>Roles</th>#}
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.password }}</td>
{#                    <td>{% for role in user %}#}
{#                            {{ role }}#}
{#                        {% endfor %}</td>#}
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun utilisateur inscrit</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_user_new') }}">Inscrire un nouvel utilisateur</a>
    {% else %}
        <p style="text-align: center; margin-top: 100px;">Cette URL est réservée aux administrateurs du site.</p>
    {% endif %}
{% endblock %}